spawn-at-startup "waybar"
spawn-at-startup "swayidle" "-w" \
"timeout" "900" "swaylock -f" \
"timeout" "901" "niri msg action power-off-monitors" \
"timeout" "1200" "systemctl suspend" \
"before-sleep" "swaylock -f"

// screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
screenshot-path null

prefer-no-csd

input {
	keyboard {
		numlock

		repeat-rate 30
		repeat-delay 200

		xkb {
			layout "us,ru"
			options "grp:win_space_toggle,ctrl:swapcaps"
		}
	}

	touchpad {
		tap
		accel-speed 1
		accel-profile "flat"
	}

	mouse {
	}

	trackpoint {
	}
}

output "eDP-1" {
	// Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
	mode "1920x1080@120"

	// Transform allows to rotate the output counter-clockwise, valid values are:
	// normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
	transform "normal"

	scale 1.75

	position x=0 y=0
}

layout {
	gaps 8

	center-focused-column "never"

	preset-column-widths {
		proportion 0.3
		proportion 0.5
		proportion 0.7
	}

	default-column-width { proportion 0.5; }

	focus-ring {
		off
	}

	border {
		width 1

		active-color "#606060"
		inactive-color "#404040"
		urgent-color "#d13b3b"
	}

	shadow {
		off
	}

	struts {
	}
}

overview {
	workspace-shadow {
		off
	}
}

hotkey-overlay {
	skip-at-startup
}

animations {
	slowdown 1
}

window-rule {
	geometry-corner-radius 5
	clip-to-geometry true
}

window-rule {
	match app-id=r#"firefox$"# title="^Picture-in-Picture$"
	open-floating true
}

binds {
	XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
	XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
	XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
	XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

	XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
	XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
	XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
	XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

	XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
	XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

	Mod+Shift+Slash { show-hotkey-overlay; }

	Mod+Return repeat=false hotkey-overlay-title="Open a Terminal" { spawn "ghostty"; }
	Mod+D hotkey-overlay-title="Run an Application" { spawn "fuzzel"; }
	Mod+Ctrl+L hotkey-overlay-title="Lock the Screen" { spawn "swaylock"; }

	Mod+O repeat=false { toggle-overview; }

	Mod+Q repeat=false { close-window; }

	Mod+H { focus-column-left; }
	Mod+J { focus-window-or-workspace-down; }
	Mod+K { focus-window-or-workspace-up; }
	Mod+L { focus-column-right; }

	Mod+Shift+H { move-column-left; }
	Mod+Shift+J { move-window-down; }
	Mod+Shift+K { move-window-up; }
	Mod+Shift+L { move-column-right; }

	Mod+1 { focus-workspace 1; }
	Mod+2 { focus-workspace 2; }
	Mod+3 { focus-workspace 3; }
	Mod+4 { focus-workspace 4; }
	Mod+5 { focus-workspace 5; }
	Mod+6 { focus-workspace 6; }
	Mod+7 { focus-workspace 7; }
	Mod+8 { focus-workspace 8; }
	Mod+9 { focus-workspace 9; }
	Mod+Shift+1 { move-column-to-workspace 1; }
	Mod+Shift+2 { move-column-to-workspace 2; }
	Mod+Shift+3 { move-column-to-workspace 3; }
	Mod+Shift+4 { move-column-to-workspace 4; }
	Mod+Shift+5 { move-column-to-workspace 5; }
	Mod+Shift+6 { move-column-to-workspace 6; }
	Mod+Shift+7 { move-column-to-workspace 7; }
	Mod+Shift+8 { move-column-to-workspace 8; }
	Mod+Shift+9 { move-column-to-workspace 9; }

	Mod+BracketLeft { consume-or-expel-window-left; }
	Mod+BracketRight { consume-or-expel-window-right; }

	Mod+Comma { consume-window-into-column; }
	Mod+Period { expel-window-from-column; }

	Mod+R { switch-preset-column-width; }
	Mod+Shift+R { switch-preset-column-width-back; }

	Mod+Ctrl+Shift+R { switch-preset-window-height; }
	Mod+Ctrl+R { reset-window-height; }

	Mod+F { maximize-column; }
	Mod+Shift+F { fullscreen-window; }

	Mod+M { maximize-window-to-edges; }

	Mod+Ctrl+F { expand-column-to-available-width; }

	Mod+C { center-column; }

	Mod+Ctrl+C { center-visible-columns; }

	Mod+Minus { set-column-width "-10%"; }
	Mod+Equal { set-column-width "+10%"; }

	Mod+Shift+Minus { set-window-height "-10%"; }
	Mod+Shift+Equal { set-window-height "+10%"; }

	Mod+V { toggle-window-floating; }
	Mod+Shift+V { switch-focus-between-floating-and-tiling; }

	Mod+W { toggle-column-tabbed-display; }

	Mod+S { screenshot; }
	Ctrl+Print { screenshot-screen; }
	Alt+Print { screenshot-window; }

	Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

	Mod+Shift+E { quit; }
	Ctrl+Alt+Delete { quit; }

	Mod+Shift+P { power-off-monitors; }
}
